<%= form_with(model: contact_persone, local: true) do |form| %>
  <% if contact_persone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_persone.errors.count, "error") %> prohibited this contact_persone from being saved:</h2>

      <ul>
      <% contact_persone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :contact_persone_name %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, id: :contact_persone_customer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
