<p id="notice"><%= notice %></p>

<h1>Contact Persones</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_persones.each do |contact_persone| %>
      <tr>
        <td><%= contact_persone.name %></td>
        <td><%= contact_persone.customer %></td>
        <td><%= link_to 'Show', contact_persone %></td>
        <td><%= link_to 'Edit', edit_contact_persone_path(contact_persone) %></td>
        <td><%= link_to 'Destroy', contact_persone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact Persone', new_contact_persone_path %>
