<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_persone.name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @contact_persone.customer %>
</p>

<%= link_to 'Edit', edit_contact_persone_path(@contact_persone) %> |
<%= link_to 'Back', contact_persones_path %>
