<%= form_with(model: customer, local: true) do |form| %>
<% if customer.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

  <ul>
    <% customer.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name, id: :customer_name %>
</div>

<h2>Contact Persone</h2>
<%= form.fields_for :contact_persone, customer.contact_persone do |builder| %>
  <%= builder.label :name %>
  <%= builder.text_field :name %>
  <br> <br>
<% end %>
<div class="actions">
  <%= form.submit %>
</div>
<% end %>
