<%= form_for @table, url: tables_path, html: { multipart: true } do |form| %>
<p>
	<%= form.label :name %>
	<%= form.text_field :name %>
	<%= form.file_field :avatar %>
</p>
<br>
<h3>Person for table</h3>
	<%= form.fields_for :person do |f| %>
		<%= f.label :name %>
        <%= f.text_field :name %>
 		<br><br>
        <%= f.label :contact %>
        <%= f.text_field :contact %>
        
	<% end %><br><br>
<%= form.submit "Submit" %>
<% end %>